<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4d6bf4659f.js" crossorigin="anonymous"></script>
    <link th:href="@{/stylesCSS/footerStyle.css}" rel="stylesheet">
    <link th:href="@{/stylesCSS/navbarStyle.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: copy"></div>

    <div class="row justify-content-center">

        <div class="col-12 col-lg-10 col-xl-8">

            <div class="d-flex justify-content-center mt-4">
                <img th:src="@{${product.thumbnail}}"
                     class="img-fluid rounded"
                     alt="Imagen del producto">
            </div>

            <h1 class="mt-5  fw-bold" th:text="${product.name}"></h1>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-6 col-lg-5 col-xl-4">
                <div class="rounded px-5 py-3" style="background-color:#c5c5c5;">
                    <p>Grosor:
                    <br>
                    <span class="fw-bold" th:text="${product.thickness}"></span>
                    </p>

                    <p>Acabado:
                    <br>
                    <span class="fw-bold" th:text="${product.finishes}"></span>
                    </p>

                    <p>Formato:
                    <br>
                    <span class="fw-bold" th:text="${product.size}"></span>
                    </p>
                </div>
            </div>

            <div class="col-6 col-lg-5 col-xl-4">
                <h2>Descripción</h2>
                <p th:text="${product.description}"></p>
            </div>
        </div>

        <div class="row justify-content-center mt-4" style="background-color:#c5c5c5;">
            <div class="col-6 col-lg-5 col-xl-4 mt-5 mb-4">
                <h5>Composición:</h5>
                <div class="row g-1">
                    <div class="col-4" th:each="img : ${product.composiciones}">
                        <img th:src="@{${img}}" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-5 col-xl-4 d-flex flex-column mt-5 mb-4 justify-content-center">
                <h5 class="text-end">Detalle:</h5>
                <div class="row g-1">
                    <div class="d-flex justify-content-end">
                        <img th:src="@{${product.detail}}"
                             class="img-fluid"
                             style="height: 800px; object-fit: cover;"
                             alt="Imagen del detalle">
                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="footer :: copy"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>