<!DOCTYPE html>
<html lang="en">
<head>
<!--    Estoeslabasededatosdeitaliandesing-->
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4d6bf4659f.js" crossorigin="anonymous"></script>
    <link th:href="@{/stylesCSS/categoriesStyle.css}" rel="stylesheet">
    <link th:href="@{/stylesCSS/footerStyle.css}" rel="stylesheet">
    <link th:href="@{/stylesCSS/navbarStyle.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: copy"></div>

<div class="container-fluid px-5 px-lg-custom">
    <h1 th:text="#{products.title}" style="font-weight: bold"></h1>


    <!-- Itera por tipos -->
    <div th:each="entry : ${productsByType}">

        <h2 class="mt-5 text-capitalize" th:text="${#lists.isEmpty(entry.value) ? 'Sin tipo' : entry.key}"></h2>
        <hr>

        <div id="Cards" class="row g-4 justify-content-center">

            <div class="col-12 col-md-4" th:each="product : ${entry.value}">

                <div class="card rounded position-relative overflow-hidden">

                    <!-- Imagen -->
                    <img th:src="@{${product.thumbnail}}" class="card-img-top" alt="Imagen del producto">

                    <div class="card-body text-center">
                        <h3>
                            <a th:href="@{/category/{categoryId}/products/{productId}(categoryId=${product.category.id},productId=${product.id})}"
                               th:text="${product.getName(#locale.language)}"
                               class="text-decoration-none text-dark">
                            </a>
                        </h3>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

<div th:replace="footer :: copy"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>